[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
eventlet = "*"
gunicorn = "==18.0"
python-dotenv = "*"
Flask-SocketIO = "*"
Flask-SQLAlchemy = "*"
psycopg2-binary = "*"
psycopg2 = "*"
flask-login = "*"

[requires]
python_version = "3.5"
